**ASMI KARNA**

**Exploratory Data Analysis - Sports** 
 **(Level - Advanced)**

● **Perform ‘Exploratory Data Analysis on dataset** **‘Indian Premier League’**

● As a sports analysts, find out the most successful teams, players and factors
contributing win or loss of a team.

● Suggest teams or players a company should endorse for its products.

● You can choose any of the tool of your choice
(Python/R/Tableau/PowerBI/Excel/SAP/SAS)

In [1]:
#importing liabraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from google.colab import files
uploaded =files.upload()

Saving deliveries.csv to deliveries.csv

In [4]:
from google.colab import files
uploaded =files.upload()

Saving matches.csv to matches.csv

In [5]:
df1=pd.read_csv("deliveries.csv")
df2=pd.read_csv("matches.csv")

In [7]:
df1.head(2)

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN

[2 rows x 21 columns]

In [9]:
df2.head(5)

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [12]:
df1.loc[df1['player_dismissed'].isnull() & df1['fielder'].notnull()]

Empty DataFrame
Columns: [match_id, inning, batting_team, bowling_team, over, ball, batsman, non_striker, bowler, is_super_over, wide_runs, bye_runs, legbye_runs, noball_runs, penalty_runs, batsman_runs, extra_runs, total_runs, player_dismissed, dismissal_kind, fielder]
Index: []

In [13]:
##get ramdom sample
def get_random_sample(df, block_size=6):
  start = np.random.randint(low=0,high=len(df)-block_size)
  return df.iloc[start:start+block_size:]

In [14]:
print(get_random_sample)

<function get_random_sample at 0x7fd9cd91cf28>

In [15]:
for col in df1.columns:
    print(col)

match_id
inning
batting_team
bowling_team
over
ball
batsman
non_striker
bowler
is_super_over
wide_runs
bye_runs
legbye_runs
noball_runs
penalty_runs
batsman_runs
extra_runs
total_runs
player_dismissed
dismissal_kind
fielder

In [16]:
df1['team_score'] = df1.groupby(['match_id', 'inning'])['total_runs'].cumsum()

In [17]:
get_random_sample(df1).head(10)[['match_id', 'batsman','over', 'ball','team_score']]

        match_id       batsman  over  ball  team_score
120540       508    KD Karthik     8     2          55
120541       508    KD Karthik     8     3          55
120542       508    KD Karthik     8     4          56
120543       508  KP Pietersen     8     5          57
120544       508    KD Karthik     8     6          57
120545       508  KP Pietersen     9     1          58

In [21]:
df1[(df1['match_id']==1)&(df1['inning']==1)
    &(df1['over']==20)&(df1['ball']==6)]['team_score']

124    207
Name: team_score, dtype: int64

In [23]:
df1['out'] = df1['player_dismissed'].notnull()
df1['wicket_fallen'] = df1.groupby(['match_id','inning'])['out'].cumsum()

In [24]:
get_random_sample(df1).head(10)[['match_id','batsman','over','ball','team_score','player_dismissed','wicket_fallen']]

       match_id    batsman  over  ...  team_score  player_dismissed wicket_fallen
53308       225  B Sumanth    19  ...         157               NaN             5
53309       225  RG Sharma    19  ...         159               NaN             5
53310       225  RG Sharma    19  ...         161               NaN             5
53311       225  RG Sharma    19  ...         162               NaN             5
53312       225  RG Sharma    19  ...         164               NaN             5
53313       225  RG Sharma    19  ...         168               NaN             5

[6 rows x 7 columns]

In [25]:
df1[(df1['match_id']==1)&(df1['inning']==1)
        &(df1['over']==20)&(df1['ball']==6)]['wicket_fallen']

124    4
Name: wicket_fallen, dtype: int64

**SUCCESSFULLY COMPLETED**